.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 150px;
}
.sec3{
    margin-top: 300px;
    border-top: 300px;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3-2{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.box2{
    width: 400px;
    border: 2px solid black;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}
.box2>:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-top: 20px;
}
.skills-1{
    display: flex;
    align-items: start;
    gap: 20px;

}
.skills-1-2{
    display: flex;
    flex-direction: column;
    
}

.skills-1-2>:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
@media(max-width:1024px) {
    .sec3{
       padding-top: 100%;
       
    }
    sec-3-2{
    
    flex-direction: column;
    padding-bottom: 0px;
}
.box2{
    width: 500px;
    
    gap: 25px;
}
.box2>:nth-child(1){
    font-size: 28px;
    font-weight: 600;
}
.skills{
    gap: 50px;
}
.skills-1{
    gap: 15px;

}
.skills-1-2{
    display: flex;
    flex-direction: column;
    
}

.skills-1-2>:nth-child(1){
    font-size: 18px;
    
}
    
}
@media(max-width:767px) {
    .sec3{
        padding-bottom: 300px;
    }
    sec-3-2{
    
    flex-direction: column;
}
.box2{
    width: 300px;
    
    gap: 15px;
}
.box2>:nth-child(1){
    font-size: 18px;
    
}
.skills{
    gap: 25px;
}
.skills-1{
    gap: 10px;

}
.skills-1-2{
    display: flex;
    flex-direction: column;
    
}

.skills-1-2>:nth-child(1){
    font-size: 23px;
    
}
    
}